.location-container {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    border: 2px gray solid;
    cursor: pointer;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
}