.settings-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    align-self: flex-start;
}

h2{
    margin-bottom: 3px;
    margin-top: 0px;
}
