.history-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 20px;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
}

.item-answer {
    font-size: 40px;
    justify-self: center;
    align-self: center;
}