.answer-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.locations {
    display: flex;
    flex-direction: row;
}

button {
  width: 130px;
  height: 70px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
}